{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur la page du Zoo Virtuel !</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        A minima facilis officiis ab. Libero commodi, necessitatibus distinctio excepturi eius,
        obcaecati molestias omnis illum corporis quo modi at eveniet, facilis ratione?</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

    <a class="btn btn-primary btn-lg" href="{{ base_path ~ '/animaux' }}" role="button">Liste des animaux</a>
    <a class="btn btn-primary btn-lg" href="{{ base_path ~ '/animal_zoo' }}" role="button">Liste des animaux/zoos</a>
    <a class="btn btn-primary btn-lg" href="{{ base_path ~ '/zoos' }}" role="button">Liste des zoos</a>

</div>


{% endblock %}